* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: darkslateblue;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

h1 {
  font-family: "Indie Flower", cursive;
  line-height: 0.5;
  font-size: 3rem;
}

.text-container {
  width: 406px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 0.25em 1.5em;
  font-family: "Open Sans", sans-serif;
  background-color: whitesmoke;
  color: darkslateblue;
  font-size: inherit;
  border: solid 3px whitesmoke;
  font-weight: bold;
}

button:hover {
  background-color: transparent;
  color: whitesmoke;
  box-shadow: 0 0 7px 4px #eac5d8;
}

.grid {
  width: 400px;
  height: 800px;
  border: solid 3px whitesmoke;
  box-shadow: 0 0 7px 4px #eac5d8;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  box-sizing: border-box;
  height: 40px;
  width: 40px;
}

.tetromino {
  background-color: plum;
  border-top: solid 6px rgb(224, 206, 224);
  border-left: solid 6px rgb(220, 203, 220);
  border-right: solid 6px rgb(123, 89, 123);
  border-bottom: solid 6px rgb(123, 89, 123);
}
